{% extends 'base.html' %}

{% block title %}
    Add user
{% endblock %}

{% block content %}
<form id="form" method="POST" novalidate><br>
    <div class="form-group">
        {{ form.csrf_token }}
        <label for="firstname">First name</label><br>
        {{ form.firstname(class_="form-control")  }} <br>
        <label for="lastname">Last name</label><br>
        {{ form.lastname(class_="form-control") }} <br>
        <label for="email">Email</label><br>
        {{ form.email(class_="form-control") }} <br>
        <label for="password">Password</label><br>
        {{ form.password(class_="form-control") }} <br>
        <label for="role">Role</label><br>
        <select name="role" id="role">
            {% for role in roles|sort(attribute='id') %}
                <option value="{{ role.id }}">{{ role.name.capitalize() }}</option>
            {% endfor %}
        </select><br>
        <br>
        <button class="btn btn-outline-secondary" type="submit">Save</button>
    </div>
</form>
{% endblock %}

{% block js %}
    <script>
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                firstname: document.getElementById('firstname'),
                lastname: document.getElementById('lastname'),
                email: document.getElementById('email'),
                password: document.getElementById('password'),
                role: document.getElementById('role'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                firstname: fields.firstname.value,
                lastname: fields.lastname.value,
                email: fields.email.value,
                password: fields.password.value,
                role: fields.role.value,
            });
            // send request to validate form
            const response = await fetch("{{ url_for('administration.add_user') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle response
            if(response.ok) {
                const apiresponse = await fetch("{{ url_for('api.administration_api.add_user') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data
                });
                // handle API response
                if(apiresponse.ok) {
                    const json = await apiresponse.json();
                    // redirect to home
                    window.location.href = "{{ url_for('administration.users') }}";
                } else {
                    // handle API error
                    const json = await apiresponse.json();
                    alert(json.message);
                }
            } else {
                // handle error
                const json = await response.json();
                // get the error message
                let alert_message = "";
                for (const [key, value] of Object.entries(json)) {
                    alert_message = alert_message + value + "\n";
                }
                alert(alert_message);
            }
        });

        remove.addEventListener("click", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                id: document.getElementById('id'),
                firstname: document.getElementById('firstname'),
                lastname: document.getElementById('lastname'),
                email: document.getElementById('email'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                id: fields.id.value,
            });
            const apiresponse = await fetch("{{ url_for('api.administration_api.remove_user') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle API response
            if(apiresponse.ok) {
                const json = await apiresponse.json();
                // redirect to home
                window.location.href = "{{ url_for('administration.users') }}";
            } else {
                // handle API error
                const json = await apiresponse.json();
                alert(json.message);
            }
        });
    </script>
{% endblock %}