
{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    {% if current_user.roles[0].name in ['admin']  %}
        <a href="{{ url_for('administration.add_user') }}" class="btn btn-outline-secondary">Add</a>
    {% endif %}
    {% for user in users if user.deleted != 1 %}
        <div class="card">
            <div class="card-body">
                <div class="group align-right">
                    <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.roles[0].name.capitalize() }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <a href="{{ url_for('administration.edit_user', user_id=user.id) }}" class="btn btn-outline-secondary">Edit</a>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
{% endblock %}