<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} | Transport </title>
    <style>
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('home.index') }}">Home</a>
        <a href="{{ url_for('authentication.register') }}">Register</a>
        <a href="{{ url_for('authentication.login') }}">Login</a>
        <a href="{{ url_for('api.authentication_api.logout') }}">Logout</a>
        {% if current_user.is_authenticated %}
            <p>Logged in as {{ current_user.firstname }} {{ current_user.lastname }} </p>
        {% else %}
            <p>Not logged in</p>
        {% endif %}
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>

{% block js %} {% endblock %}