<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} | Transport </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Transport</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                    <p hidden id="isloggedin">True</p>
                    {% if current_user.roles[0].name == "admin" %}
                        <li>
                            <a class="nav-link" href="{{ url_for('management.connections') }}">Connections</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('administration.users') }}">Users</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.stops') }}">Stops</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.lines') }}">Lines</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.vehicles') }}">Vehicles</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.maintenance') }}">Maintenance</a>
                        </li>
                    {% endif %}

                    {% if current_user.roles[0].name=="manager"  %}
                        <li>
                            <a class="nav-link" href="{{ url_for('management.connections') }}">Connections</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.stops') }}">Stops</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.lines') }}">Lines</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.vehicles') }}">Vehicles</a>
                        </li>
                    {% endif %}
                    {% if current_user.roles[0].name == "technician"  %}
                        <li>
                            <a class="nav-link" href="{{ url_for('management.vehicles') }}">Vehicles</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.maintenance') }}">Maintenance</a>
                        </li>
                    {% endif %}
                    {% if current_user.roles[0].name == "dispatcher"  %}
                        <li>
                            <a class="nav-link" href="{{ url_for('management.connections') }}">Connections</a>
                        </li>
                    {% endif %}
                    {% if current_user.roles[0].name == "driver"  %}
                        <li>
                            <a class="nav-link" href="{{ url_for('management.connections') }}">Connections</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('management.vehicles') }}">Vehicles</a>
                        </li>
                    {% endif %}
                    {% if current_user.roles[0].name == "user"  %}
                        <li>
                            <a class="nav-link" href="{{ url_for('management.connections') }}">Connections</a>
                        </li>
                    {% endif %}
                    <li>
                        <p>User {{ current_user.email }}</p>
                    </li>
                    <li>
                        <p id="timeout_clock"></p>
                    </li>

                    <button id="logout" class="btn btn-outline-secondary" href="{{ url_for('api.authentication_api.logout') }}">Logout</button>
                    {% else %}
                    <p hidden id="isloggedin">False</p>
                    <li>
                        <a class="nav-link" href="{{ url_for('management.connections') }}">Connections</a>
                    </li>
                    <li>
                        <p class="nav-item">Not logged in</p>
                    </li>
                    <a href="{{ url_for('authentication.login') }}" class="btn btn-outline-secondary">Login</a>
                    <a href="{{ url_for('authentication.register') }}" class="btn btn-outline-secondary">Register</a>
                {% endif %}
            </ul>
      </nav>
    <hr>
    <div class="content">
        <div class="container">
            <h1> {{ self.title() }} </h1>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>

{% block logout %}
    <script>
        const logout = document.getElementById("logout")
        logout.addEventListener("click", async (e) => {
            e.preventDefault();
            const response = await fetch("{{ url_for('api.authentication_api.logout') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: {}
            });
            if(response.ok) {
                const json = await response.json();
                window.location.href = "{{ url_for('home.index') }}";
            } else {
                const json = await response.json();
                alert(json.message);
            }
        });
    </script>
{% endblock %}

{% block timeout %}
    <script>
        const loggedin = document.getElementById("isloggedin");
        const timeout_clock = document.getElementById("timeout_clock");
        var seconds_left = 600;

        if(loggedin.innerText == "True") {
            function updateTimer() {
                timer_left = seconds_left--;
                if(timer_left == 0) {
                    timeout();
                }
                var minutes = Math.floor(timer_left / 60);
                var seconds = timer_left % 60;
                if(seconds < 10) {
                    seconds = "0" + seconds;
                }
                timeout_clock.innerText = "Timeout in " + minutes + ":" + seconds + " sec";
            }
            setInterval(updateTimer, 1000);
            }
        else {
            clearInterval(updateTimer);
        }

        async function timeout() {
            alert("Session timed out");
            const response = await fetch("{{ url_for('api.authentication_api.logout') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: {}
            });
            if(response.ok) {3
                const json = await response.json();
                window.location.href = "{{ url_for('home.index') }}";
            } else {
                const json = await response.json();
                alert(json.message);
            }
            clearInterval(timer);
        };
    </script>
{% endblock %}

{% block js %} {% endblock %}