{% extends 'base.html' %}

{% block title %}
    Add connection
{% endblock %}

{% block content %}
<form id="form" method="POST" novalidate><br>
    <div class="form-group">
        {{ form.csrf_token }}
        <label for="time">Time</label><br>
        {{ form.time(class_="form-control")  }} <br>
        <label for="direction">Direction</label><br>
        <select id="direction">
            <option value="forward">Forward</option>
            <option value="backward">Backward</option>
        </select><br>
        <label for="days_of_week">Days_of_week</label><br>
        {{ form.days_of_week(class_="form-control")  }} <br>
        <label for="line_id">Line</label><br>
        <select name="line_id" id="line_id">
            {% for line in lines %}
                {% if line == for_line %}
                <option value="{{ line.id }}" selected>{{ line.name }}</option>
                {% else %}
                <option value="{{ line.id }}">{{ line.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <button class="btn btn-outline-secondary" type="submit">Save</button>
    </div>
</form>
{% endblock %}

{% block js %}
    <script>
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                time: document.getElementById('time'),
                direction: document.getElementById('direction'),
                days_of_week: document.getElementById('days_of_week'),
                line_id: document.getElementById('line_id'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                time: fields.time.value,
                direction: fields.direction.value,
                days_of_week: fields.days_of_week.value,
                line_id: fields.line_id.value,
            });
            // send request to validate form
            const response = await fetch("{{ url_for('management.add_connection') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle response
            if(response.ok) {
                const apiresponse = await fetch("{{ url_for('api.management_api.add_connection') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data
                });
                // handle API response
                if(apiresponse.ok) {
                    const json = await apiresponse.json();
                    // redirect to home
                    window.location.href = "{{ url_for('management.connections') }}";
                } else {
                    // handle API error
                    const json = await apiresponse.json();
                    alert(json.message);
                }
            } else {
                // handle error
                const json = await response.json();
                // get the error message
                let alert_message = "";
                for (const [key, value] of Object.entries(json)) {
                    alert_message = alert_message + value + "\n";
                }
                alert(alert_message);
            }
        });
    </script>
{% endblock %}