{% extends 'base.html' %}

{% block title %}
    Add vehicle
{% endblock %}

{% block content %}
<form id="form" method="POST" novalidate><br>
    <div class="form-group">
        {{ form.csrf_token }}
        <label for="name">Name</label><br>
        {{ form.name(class_="form-control")  }} <br>
        <label for="type">type</label><br>
        <select id="type">
        {% for value in ['tram', 'bus', 'trolley', 'boat'] %}
            <option value="{{value}}">{{value}}</option>
        {% endfor %}
        </select>
        <br>
        <label for="make">make</label><br>
        {{ form.make(class_="form-control") }} <br>
        <label for="model">model</label><br>
        {{ form.model(class_="form-control") }} <br>
        <label for="specs">specs</label><br>
        {{ form.specs(class_="form-control") }} <br>
        <label for="status">status</label><br>
        <select id="status">
        {% for value in ['available', 'maintenance', 'requested', 'unavailable'] %}
            <option value="{{value}}">{{value}}</option>
        {% endfor %}
        </select>
        <button class="btn btn-outline-secondary" type="submit">Save</button>
    </div>
</form>
{% endblock %}

{% block js %}
    <script>
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                name: document.getElementById('name'),
                type: document.getElementById('type'),
                make: document.getElementById('make'),
                model: document.getElementById('model'),
                specs: document.getElementById('specs'),
                status: document.getElementById('status'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                name: fields.name.value,
                type: fields.type.value,
                make: fields.make.value,
                model: fields.model.value,
                specs: fields.specs.value,
                status: fields.status.value,
            });
            // send request to validate form
            const response = await fetch("{{ url_for('management.add_vehicle') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle response
            if(response.ok) {
                const apiresponse = await fetch("{{ url_for('api.management_api.add_vehicle') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data
                });
                // handle API response
                if(apiresponse.ok) {
                    const json = await apiresponse.json();
                    // redirect to home
                    window.location.href = "{{ url_for('management.vehicles') }}";
                } else {
                    // handle API error
                    const json = await apiresponse.json();
                    alert(json.message);
                }
            } else {
                // handle error
                const json = await response.json();
                // get the error message
                let alert_message = "";
                for (const [key, value] of Object.entries(json)) {
                    alert_message = alert_message + value + "\n";
                }
                alert(alert_message);
            }
        });
    </script>
{% endblock %}