{% extends 'base.html' %}

{% block title %}
    Connections
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.roles[0].name in ['manager','admin']  %}
            <a href="{{ url_for('management.add_connection') }}" class="btn btn-outline-secondary">Add</a>
        {% endif %}
        {% for connection in connections %}
            {% if (current_user.roles[0].name == "driver" and connection.driver_id == current_user.id) or (current_user.roles[0].name != "driver") %}
            <div class="card">
                <div class="card-body">
                    <div class="group align-right">
                        {%for line in lines %}
                            {% if line.id == connection.line_id %}
                                <h5 class="card-title">Line {{ line.name }}, {{ connection.time }}</h5>
                            {% endif %}
                        {% endfor %}
                        {% for vehicle in vehicles %}
                            {% if vehicle.id == connection.vehicle_id %}
                                <h6 class="card-subtitle">{{ vehicle.name }}</h6>
                            {% endif %}
                        {% endfor %}
                        <h6 class="card-subtitle mb-2 text-muted">
                        {%for line in lines %}
                            {% if line.id == connection.line_id %}
                                {% if connection.direction == "forward" %}
                                    {% set rev=False %}
                                {% else %}
                                    {% set rev=True %}
                                {% endif %}
                                {% for line_stop in line.line_stops|sort(attribute='order', reverse=rev) %}
                                {% set outer_loop = loop %}
                                {% for stop in stops if stop.id == line_stop.stop_id %}
                                    {% if outer_loop.last %}
                                        {{ stop.name }}
                                    {% else %}
                                        {{ stop.name }} –
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                {% endif %}
                        {% endfor %}
                        </h6>
                        {% if current_user.roles[0].name in ['dispatcher','manager','admin']  %}
                            <a href="{{ url_for('management.edit_connection', connection_id=connection.id) }}" class="btn btn-outline-secondary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
        {% endfor %}
    {% else %}
    <!-- guest -->
    {% for connection in connections %}
            <div class="card">
                <div class="card-body">
                    <div class="group align-right">
                        <h5 class="card-title">Line {{ connection.line_id }}, {{ connection.time }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ connection.days_of_week }}, {{ connection.direction }}</h6>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

    {% endif %}
{% endblock %}