{% extends 'base.html' %}

{% block title %}
    Edit connection
{% endblock %}

{% block content %}

<form id="form" method="POST" novalidate><br>
    <div class="form-group">
        {{ form.csrf_token }}
        <input type="hidden" id="id" value="{{ connection.id }}">
        <label for="time">Time</label><br>
        {{ form.time(class_="form-control")  }} <br>
        <label for="direction">Direction</label><br>
        {{ form.direction(class_="form-control")  }} <br>
        <label for="days_of_week">Days_of_week</label><br>
        {{ form.days_of_week(class_="form-control")  }} <br>
        <label for="line_id">Line</label><br>
        <select name="line_id" id="line_id">
            {% for ln in lines %}
                {% if ln == line %}
                <option value="{{ ln.id }}" selected>{{ ln.name }}</option>
                {% else %}
                <option value="{{ ln.id }}">{{ ln.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>



        <h3>Stops</h3>
        <ul>
            {% for lineStop in line.line_stops|sort(attribute='order') %}
            {% set outer_loop = loop %}
            <div>
                {% for stop in stops if stop.id == lineStop.stop_id %}
                <h5 class="card-title">{{ lineStop.order }}. {{ stop.name }}</h5>
                {% set minute = (connection.time.minute+lineStop.time_from_start)%60 %}
                {% set totalMinutes = connection.time.minute + lineStop.time_from_start %}
                {% set hour = connection.time.hour + (totalMinutes // 60) %}
                {% set minute = totalMinutes % 60 %}
                {% set time = datetime.time(hour, minute, 0) %}
                <p id="time_from_start-{{stop.id}}"> {{ time }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </ul>

        <button class="btn btn-outline-secondary" type="submit">Save</button>
        <button class="btn btn-outline-danger" id="remove">Delete</button>
    </div>
</form>
{% endblock %}

{% block js %}
    <script>

        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                id: document.getElementById('id'),
                time: document.getElementById('time'),
                direction: document.getElementById('direction'),
                days_of_week: document.getElementById('days_of_week'),
                line_id: document.getElementById('line_id'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                id: fields.id.value,
                time: fields.time.value,
                direction: fields.direction.value,
                days_of_week: fields.days_of_week.value,
                line_id: fields.line_id.value,
            });
            // send request to validate form
            const response = await fetch("{{ url_for('management.edit_connection', connection_id=connection.id) }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle response
            if(response.ok) {
                const apiresponse = await fetch("{{ url_for('api.management_api.edit_connection') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data
                });
                // handle API response
                if(apiresponse.ok) {
                    const json = await apiresponse.json();
                    // redirect to home
                    window.location.href = "{{ url_for('management.connections') }}";
                } else {
                    // handle API error
                    const json = await apiresponse.json();
                    alert(json.message);
                }
            } else {
                // handle error
                const json = await response.json();
                // get the error message
                let alert_message = "";
                for (const [key, value] of Object.entries(json)) {
                    alert_message = alert_message + value + "\n";
                }
                alert(alert_message);
            }
        });

        remove.addEventListener("click", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                id: document.getElementById('id'),
                time: document.getElementById('time'),
                direction: document.getElementById('direction'),
                days_of_week: document.getElementById('days_of_week'),
                line_id: document.getElementById('line_id'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                id: fields.id.value,
                time: fields.time.value,
                direction: fields.direction.value,
                line_id: fields.line_id.value,
            });
            const apiresponse = await fetch("{{ url_for('api.management_api.remove_connection') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle API response
            if(apiresponse.ok) {
                const json = await apiresponse.json();
                // redirect to home
                window.location.href = "{{ url_for('management.connections') }}";
            } else {
                // handle API error
                const json = await apiresponse.json();
                alert(json.message);
            }
        });
    </script>
{% endblock %}