{% extends 'base.html' %}

{% block title %}
    Edit stop
{% endblock %}

{% block content %}
<form id="form" method="POST" novalidate><br>
    <div class="form-group">
        {{ form.csrf_token }}
        <input type="hidden" id="id" value="{{ stop.id }}">
        <label for="name">Name</label><br>
        {{ form.name(class_="form-control")  }} <br>
        <label for="latitude">Latitude</label><br>
        {{ form.latitude(class_="form-control") }} <br>
        <label for="longitude">Longitude</label><br>
        {{ form.longitude(class_="form-control") }} <br>
        <button class="btn btn-outline-secondary" type="submit">Save</button>
        <button class="btn btn-outline-danger" id="remove">Delete</button>
    </div>
</form>
{% endblock %}

{% block js %}
    <script>
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                id: document.getElementById('id'),
                name: document.getElementById('name'),
                latitude: document.getElementById('latitude'),
                longitude: document.getElementById('longitude'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                id: fields.id.value,
                name: fields.name.value,
                latitude: fields.latitude.value,
                longitude: fields.longitude.value,
            });
            // send request to validate form
            const response = await fetch("{{ url_for('management.edit_stop', stop_id=stop.id) }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle response
            if(response.ok) {
                const apiresponse = await fetch("{{ url_for('api.management_api.edit_stop') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data
                });
                // handle API response
                if(apiresponse.ok) {
                    const json = await apiresponse.json();
                    // redirect to home
                    window.location.href = "{{ url_for('management.stops', stop_id=stop.id) }}";
                } else {
                    // handle API error
                    const json = await apiresponse.json();
                    alert(json.message);
                }
            } else {
                // handle error
                const json = await response.json();
                // get the error message
                let alert_message = "";
                for (const [key, value] of Object.entries(json)) {
                    alert_message = alert_message + value + "\n";
                }
                alert(alert_message);
            }
        });

        remove.addEventListener("click", async (e) => {
            e.preventDefault();
            const fields = {
                csrf_token: document.getElementById('csrf_token'),
                id: document.getElementById('id'),
                name: document.getElementById('name'),
                latitude: document.getElementById('latitude'),
                longitude: document.getElementById('longitude'),
            };
            // jsonify input
            const data = JSON.stringify({
                csrf_token: fields.csrf_token.value,
                id: fields.id.value,
            });
            const apiresponse = await fetch("{{ url_for('api.management_api.remove_stop') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            });
            // handle API response
            if(apiresponse.ok) {
                const json = await apiresponse.json();
                // redirect to home
                window.location.href = "{{ url_for('management.stops') }}";
            } else {
                // handle API error
                const json = await apiresponse.json();
                alert(json.message);
            }
        });
    </script>
{% endblock %}