
{% extends 'base.html' %}

{% block title %}
    Maintenance
{% endblock %}

{% block content %}
    {% if current_user.roles[0].name in ['technician','admin']  %}
        <a href="{{ url_for('management.add_maintenance') }}" class="btn btn-outline-secondary">Add record</a>
    {% endif %}
    {% for maintenance_record in maintenance %}
        <div class="card">
            <div class="card-body">
                <div class="group align-right">
                    <h6 class="card-text">{{ maintenance_record.date }}</h6>
                    {% for vehicle in vehicles %}
                        {% if vehicle.id == maintenance_record.vehicle_id %}
                            <h5 class="card-title">{{ vehicle.name }}</h5>
                        {% endif %}
                    {% endfor %}
                    <h6 class="card-text">{{ maintenance_record.description }}</h6>
                    {% if current_user.roles[0].name in ['technician','admin']  %}
                        <a href="{{ url_for('management.edit_maintenance', maintenance_id=maintenance_record.id) }}" class="btn btn-outline-secondary">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
{% endblock %}