{% extends 'base.html' %}

{% block title %}
    Vehicles
{% endblock %}

{% block content %}
    {% if current_user.roles[0].name in ['manager','admin']  %}
        <a href="{{ url_for('management.add_vehicle') }}" class="btn btn-outline-secondary">Add</a>
    {% endif %}
    {% for vehicle in vehicles %}
        <div class="card">
            <div class="card-body">
                <div class="group align-right">
                    <h5 class="card-title">{{ vehicle.name }}</h5>
                    {% if vehicle.status == "available" %}
                        <h6 class="card-subtitle mb-2 text-success">✓ Available</h6>
                    {% elif vehicle.status == "requested" %}
                        <h6 class="card-subtitle mb-2 text-info">? Requested maintenance</h6>
                    {% elif vehicle.status == "maintenance" %}
                        <h6 class="card-subtitle mb-2 text-warning">! Needs maintenance</h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2 text-danger">✗ Unavailable</h6>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ vehicle.type }}, {{ vehicle.make }}, {{ vehicle.model }}, {{ vehicle.specs }}, {{ vehicle.status }}</h6>
                    {% if current_user.roles[0].name in ['driver','manager','admin']  %}
                        <a href="{{ url_for('management.edit_vehicle', vehicle_id=vehicle.id) }}" class="btn btn-outline-secondary">Edit</a>
                    {% endif %}
                    {% if current_user.roles[0].name in ['technician','admin']  %}
                    <a href="{{ url_for('management.add_maintenance', vehicle_id=vehicle.id) }}" class="btn btn-outline-secondary">Maintain</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
{% endblock %}